![Ravedata logo ><](https://ravedata.in/wp-content/uploads/2020/08/RaveData_Full.jpg)

# Case Study - Analysis of Census 2011 data of India

Mohan works as a consultant for a policy thinktank body of the Indian Government. He is studying various key performance indicators of the different states within India to arrive at a better understanding of socio-economic conditions across the country. He decided to analyze the 2011 India census data.Original census data is released (and owned by) the Registrar General and Census Commissioner of India under the Ministry of Home Affairs, Government of India. The data Mohan is using is listed below.
- https://github.com/vedantnarayan/DataScienceTutorial/blob/master/Census_2011_Analysis/india-districts-census-2011.csv

Data source: http://censusindia.gov.in/2011-Common/CensusData2011.html

Mohan is particularly interested to get answers to the following questions.

1. How is literacy rate distributed across Indian States?
2. How is sex ratio distributed across Indian States?
3. How is Agricultural worker population distributed across Indian States?
4. How does the Mobile phone penetartion is distributed across Indian States?
5. Is there any relation between literacy rate and sex ratio?
6. Is there any relation between literacy rate and agricultural worker population?


Let's help Mohan in finding out the big picture.

In [11]:
## Import libraries
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import math
%matplotlib inline

In [12]:
## set default style for plots
context= "poster"
style= "darkgrid"
font_family = "Comic Sans MS"
## customizing rcParams
rcparam_dict={"figure.figsize":"25,10","axes.labelsize":1,"axes.titlesize":"large","font.family":"Comic Sans MS","text.color":"#A53010","axes.labelcolor":"A53010",
              "axes.labelsize":"medium",'xtick.color':'#A53010', 'ytick.color':'#A53010'}
sns.set(context=context,style=style,font=font_family,rc=rcparam_dict) ## Setiing context, style and rcparams in a single line

In [13]:
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)

In [14]:
df_india_census= pd.read_csv("india-districts-census-2011.csv")

In [15]:
## Shape of the data
df_india_census.shape

(640, 118)

In [16]:
## head of the data
df_india_census.head()

,District code,State name,District name,Population,Male,Female,Literate,Male_Literate,Female_Literate,SC,Male_SC,Female_SC,ST,Male_ST,Female_ST,Workers,Male_Workers,Female_Workers,Main_Workers,Marginal_Workers,Non_Workers,Cultivator_Workers,Agricultural_Workers,Household_Workers,Other_Workers,Hindus,Muslims,Christians,Sikhs,Buddhists,Jains,Others_Religions,Religion_Not_Stated,LPG_or_PNG_Households,Housholds_with_Electric_Lighting,Households_with_Internet,Households_with_Computer,Rural_Households,Urban_Households,Households,Below_Primary_Education,Primary_Education,Middle_Education,Secondary_Education,Higher_Education,Graduate_Education,Other_Education,Literate_Education,Illiterate_Education,Total_Education,Age_Group_0_29,Age_Group_30_49,Age_Group_50,Age not stated,Households_with_Bicycle,Households_with_Car_Jeep_Van,Households_with_Radio_Transistor,Households_with_Scooter_Motorcycle_Moped,Households_with_Telephone_Mobile_Phone_Landline_only,Households_with_Telephone_Mobile_Phone_Mobile_only,Households_with_TV_Computer_Laptop_Telephone_mobile_phone_and_Scooter_Car,Households_with_Television,Households_with_Telephone_Mobile_Phone,Households_with_Telephone_Mobile_Phone_Both,Condition_of_occupied_census_houses_Dilapidated_Households,Households_with_separate_kitchen_Cooking_inside_house,Having_bathing_facility_Total_Households,Having_latrine_facility_within_the_premises_Total_Households,Ownership_Owned_Households,Ownership_Rented_Households,Type_of_bathing_facility_Enclosure_without_roof_Households,Type_of_fuel_used_for_cooking_Any_other_Households,Type_of_latrine_facility_Pit_latrine_Households,Type_of_latrine_facility_Other_latrine_Households,Type_of_latrine_facility_Night_soil_disposed_into_open_drain_Households,Type_of_latrine_facility_Flush_pour_flush_latrine_connected_to_other_system_Households,Not_having_bathing_facility_within_the_premises_Total_Households,Not_having_latrine_facility_within_the_premises_Alternative_source_Open_Households,Main_source_of_drinking_water_Un_covered_well_Households,Main_source_of_drinking_water_Handpump_Tubewell_Borewell_Households,Main_source_of_drinking_water_Spring_Households,Main_source_of_drinking_water_River_Canal_Households,Main_source_of_drinking_water_Other_sources_Households,Main_source_of_drinking_water_Other_sources_Spring_River_Canal_Tank_Pond_Lake_Other_sources__Households,Location_of_drinking_water_source_Near_the_premises_Households,Location_of_drinking_water_source_Within_the_premises_Households,Main_source_of_drinking_water_Tank_Pond_Lake_Households,Main_source_of_drinking_water_Tapwater_Households,Main_source_of_drinking_water_Tubewell_Borehole_Households,Household_size_1_person_Households,Household_size_2_persons_Households,Household_size_1_to_2_persons,Household_size_3_persons_Households,Household_size_3_to_5_persons_Households,Household_size_4_persons_Households,Household_size_5_persons_Households,Household_size_6_8_persons_Households,Household_size_9_persons_and_above_Households,Location_of_drinking_water_source_Away_Households,Married_couples_1_Households,Married_couples_2_Households,Married_couples_3_Households,Married_couples_3_or_more_Households,Married_couples_4_Households,Married_couples_5__Households,Married_couples_None_Households,Power_Parity_Less_than_Rs_45000,Power_Parity_Rs_45000_90000,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
0,1,JAMMU AND KASHMIR,Kupwara,870354,474190,396164,439654,282823,156831,1048,1046,2,70352,36913,33439,229064,190899,38165,123837,105227,641290,34680,56759,7946,129679,37128,823286,1700,5600,66,39,13,2522,15828,83071,762,5256,158438,23226,181664,60616,101642,99947,74948,39709,21751,6402,405015,289765,694780,600759,178435,89679,1481,3019,2988,59480,1808,1445,53437,495,26828,56495,1613,8463,104172,66361,54335,104807,618,3667,167,9791,21902,2269,10919,40416,44123,11127,5030,1902,24776,6597,34882,37849,22747,1607,50339,2066,911,4036,4947,6396,31982,10700,14886,42727,27121,46181,80569,14618,2218,2622,330,74,8968,259,494,94,588,71,101,172,74,10,84,15,1119
1,2,JAMMU AND KASHMIR,Badgam,753745,398041,355704,335649,207741,127908,368,343,25,23912,12383,11529,214866,162578,52288,132003,82863,538879,55299,36630,29102,93835,10110,736054,1489,5559,47,6,2,478,15118,90190,1999,5892,160649,27190,187839,68336,80862,83141,66459,41367,27950,6857,374972,342646,717618,503223,160933,88978,611,10013,5091,66814,5848,2509,65783,1655,54170,72197,3905,3733,88806,83385,83615,98036,609,3959,971,7013,43953,1779,9208,15834,10642,699,9864,453,13064,1052,14705,33558,51358,136,73303,2321,845,2173,3018,3743,23640,7998,11899,59121,13440,14303,71441,15255,2962,3493,452,79,9030,201,436,126,562,72,89,161,96,28,124,18,1066
2,3,JAMMU AND KASHMIR,Leh(Ladakh),133487,78971,54516,93770,62834,30936,488,444,44,95857,47543,48314,75079,53265,21814,57125,17954,58408,20869,1645,1020,51545,22882,19057,658,1092,88635,103,54,1006,13645,17250,574,2150,36920,17474,54394,10452,15181,17900,16265,8923,6197,575,75493,32637,108130,70703,41515,21019,250,609,4271,15210,1289,2646,6331,971,13597,13836,4859,371,20134,10304,18780,19387,893,920,1,14980,2117,53,695,10473,1781,64,5991,620,6115,1565,8355,10962,3031,55,6254,135,1630,1483,3113,2302,10528,4422,3804,5378,1758,6784,12742,3492,716,835,87,32,3708,33,76,46,122,15,22,37,20,14,34,17,242
3,4,JAMMU AND KASHMIR,Kargil,140802,77785,63017,86236,56301,29935,18,12,6,122336,62652,59684,51873,39839,12034,28941,22932,88929,8266,3763,1222,38622,10341,108239,604,1171,20126,28,4,289,3285,15824,235,1005,40370,7774,48144,12732,19083,20874,16938,9826,3077,408,82938,39854,122792,87532,35561,17488,221,488,1847,10895,652,899,7733,249,8008,10562,1930,575,17751,11887,17649,16646,1419,330,376,1704,4732,37,9610,6325,482,1,3289,323,2641,907,4068,9218,1963,197,10769,19,689,834,1523,983,4991,1652,2356,6832,4866,7031,10366,3835,1252,1643,308,83,2368,39,87,27,114,12,18,30,19,3,22,7,214
4,5,JAMMU AND KASHMIR,Punch,476835,251899,224936,261724,163333,98391,556,406,150,176101,90274,85827,161393,117677,43716,73247,88146,315442,54264,31583,3930,71616,32604,431279,958,11188,83,10,2,711,13160,62900,346,3342,132139,15269,147408,55762,72024,69219,46062,29517,13962,1884,288430,164044,452474,304979,109818,61334,704,846,1731,37412,2407,1908,31773,276,16022,36358,2677,2047,78572,19789,16586,87711,762,3421,28,532,971,338,1174,69089,70470,17702,4036,12448,1351,5351,19458,33146,17078,308,43697,234,1531,7435,8966,10664,44517,15825,18028,31443,3952,38654,70995,9180,1148,1250,87,15,7453,117,268,78,346,35,50,85,59,8,67,12,629

In [17]:
## Statistical summary of the data
df_india_census.describe()

,District code,Population,Male,Female,Literate,Male_Literate,Female_Literate,SC,Male_SC,Female_SC,ST,Male_ST,Female_ST,Workers,Male_Workers,Female_Workers,Main_Workers,Marginal_Workers,Non_Workers,Cultivator_Workers,Agricultural_Workers,Household_Workers,Other_Workers,Hindus,Muslims,Christians,Sikhs,Buddhists,Jains,Others_Religions,Religion_Not_Stated,LPG_or_PNG_Households,Housholds_with_Electric_Lighting,Households_with_Internet,Households_with_Computer,Rural_Households,Urban_Households,Households,Below_Primary_Education,Primary_Education,Middle_Education,Secondary_Education,Higher_Education,Graduate_Education,Other_Education,Literate_Education,Illiterate_Education,Total_Education,Age_Group_0_29,Age_Group_30_49,Age_Group_50,Age not stated,Households_with_Bicycle,Households_with_Car_Jeep_Van,Households_with_Radio_Transistor,Households_with_Scooter_Motorcycle_Moped,Households_with_Telephone_Mobile_Phone_Landline_only,Households_with_Telephone_Mobile_Phone_Mobile_only,Households_with_TV_Computer_Laptop_Telephone_mobile_phone_and_Scooter_Car,Households_with_Television,Households_with_Telephone_Mobile_Phone,Households_with_Telephone_Mobile_Phone_Both,Condition_of_occupied_census_houses_Dilapidated_Households,Households_with_separate_kitchen_Cooking_inside_house,Having_bathing_facility_Total_Households,Having_latrine_facility_within_the_premises_Total_Households,Ownership_Owned_Households,Ownership_Rented_Households,Type_of_bathing_facility_Enclosure_without_roof_Households,Type_of_fuel_used_for_cooking_Any_other_Households,Type_of_latrine_facility_Pit_latrine_Households,Type_of_latrine_facility_Other_latrine_Households,Type_of_latrine_facility_Night_soil_disposed_into_open_drain_Households,Type_of_latrine_facility_Flush_pour_flush_latrine_connected_to_other_system_Households,Not_having_bathing_facility_within_the_premises_Total_Households,Not_having_latrine_facility_within_the_premises_Alternative_source_Open_Households,Main_source_of_drinking_water_Un_covered_well_Households,Main_source_of_drinking_water_Handpump_Tubewell_Borewell_Households,Main_source_of_drinking_water_Spring_Households,Main_source_of_drinking_water_River_Canal_Households,Main_source_of_drinking_water_Other_sources_Households,Main_source_of_drinking_water_Other_sources_Spring_River_Canal_Tank_Pond_Lake_Other_sources__Households,Location_of_drinking_water_source_Near_the_premises_Households,Location_of_drinking_water_source_Within_the_premises_Households,Main_source_of_drinking_water_Tank_Pond_Lake_Households,Main_source_of_drinking_water_Tapwater_Households,Main_source_of_drinking_water_Tubewell_Borehole_Households,Household_size_1_person_Households,Household_size_2_persons_Households,Household_size_1_to_2_persons,Household_size_3_persons_Households,Household_size_3_to_5_persons_Households,Household_size_4_persons_Households,Household_size_5_persons_Households,Household_size_6_8_persons_Households,Household_size_9_persons_and_above_Households,Location_of_drinking_water_source_Away_Households,Married_couples_1_Households,Married_couples_2_Households,Married_couples_3_Households,Married_couples_3_or_more_Households,Married_couples_4_Households,Married_couples_5__Households,Married_couples_None_Households,Power_Parity_Less_than_Rs_45000,Power_Parity_Rs_45000_90000,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
count,640.000000,6.400000e+02,6.400000e+02,6.400000e+02,6.400000e+02,6.400000e+02,6.400000e+02,6.400000e+02,6.400000e+02,6.400000e+02,6.400000e+02,640.000000,640.000000,6.400000e+02,6.400000e+02,6.400000e+02,6.400000e+02,640.000000,6.400000e+02,6.400000e+02,6.400000e+02,640.000000,6.400000e+02,6.400000e+02,6.400000e+02,6.400000e+02,6.400000e+02,640.000000,640.000000,640.000000,640.000000,6.400000e+02,6.400000e+02,640.000000,640.000000,6.400000e+02,6.400000e+02,6.400000e+02,6.400000e+02,6.400000e+02,6.400000e+02,6.400000e+02,6.400000e+02,6.400000e+02,640.00000,6.400000e+02,6.400000e+02,6.400000e+02,6.400000e+02,6.400000e+02,6.400000e+02,640.000000,6.400000e+02,640.000000,6.400000e+02,6.400000e+02,640.000000,6.400000e+02,640.000000,6.400000e+02,6.400000e+02,640.000000,640.000000,6.400000e+02,6.400000e+02,6.400000e+02,6.400000e+02,6.400000e+02,640.000000,640.000000,640.000000,640.000000,640.000000,640.000000,6.400000e+02,640.000000,640.000000,6.400000e+02,640.000000,640.000000,640.000000,640.000000,640.000000,6.400000e+02,640.000000,6.400000e+02,640.000000,640.000000,640.000000,640.000000,640.000000,6.400000e+02,640.000000,640.000000,640.000000,640.000000,640.000000,6.400000e+02,640.000000,640.000000,640.000000,640.000000,640.000000,640.000000,640.000000,640.000000,640.000000,640.000000,640.000000,640.000000,640.000000,640.000000,640.000000,640.000000,640.000000,640.000000
mean,320.500000,1.891961e+06,9.738598e+05,9.181011e+05,1.193186e+06,6.793182e+05,5.138675e+05,3.146537e+05,1.617739e+05,1.528798e+05,1.633527e+05,82105.023438,81247.657812,7.529514e+05,5.186561e+05,2.342953e+05,5.665087e+05,186442.651562,1.139010e+06,1.856387e+05,2.255513e+05,28653.387500,3.131379e+05,1.509777e+06,2.691331e+05,4.346811e+04,3.255174e+04,13192.143750,6955.864062,12402.709375,4480.160937,1.100358e+05,2.592145e+05,12044.564062,36504.446875,3.448374e+05,1.720935e+05,5.169309e+05,2.372994e+05,3.217925e+05,2.616792e+05,2.051046e+05,1.241736e+05,1.090132e+05,16096.61250,1.275159e+06,5.786784e+05,1.853838e+06,1.102826e+06,4.820189e+05,3.001005e+05,7015.315625,1.727616e+05,17927.479687,7.658843e+04,8.103475e+04,15499.439062,2.050032e+05,17828.778125,1.820213e+05,2.435638e+05,23061.229687,20628.782813,3.365818e+05,2.251999e+05,1.808398e+05,3.336348e+05,4.276297e+04,63200.296875,1868.842187,36373.637500,4072.309375,2054.143750,8784.025000,1.602574e+05,192121.109375,36390.417188,1.617431e+05,2053.993750,2422.732812,5694.256250,13413.453125,138141.403125,1.795638e+05,3242.470313,1.678237e+05,32681.365625,14130.067188,37473.221875,51603.289062,52596.440625,2.123476e+05,87464.987500,72286.215625,95943.710938,25562.648438,67752.100000,2.702576e+05,54493.914062,12362.385937,15951.329687,2699.464063,889.479687,44754.492188,374.604688,910.409375,786.046875,1696.456250,294.000000,215.300000,509.300000,194.204688,261.245313,455.450000,279.631250,3315.412500
std,184.896367,1.544380e+06,8.007785e+05,7.449864e+05,1.068583e+06,5.924144e+05,4.801816e+05,3.129818e+05,1.611216e+05,1.520336e+05,2.503501e+05,125298.757452,125090.882244,6.071622e+05,4.412388e+05,1.913541e+05,5.158527e+05,152665.333107,9.645541e+05,1.514895e+05,2.216222e+05,38513.020711,3.985180e+05,1.279535e+06,4.201270e+05,1.087273e+05,1.603859e+05,56347.946567,23624.010655,61809.342013,6708.605489,1.825761e+05,2.916023e+05,33573.205832,63249.671664,2.595673e+05,3.032489e+05,4.417897e+05,2.089869e+05,2.756872e+05,2.533510e+05,2.164778e+05,1.304154e+05,1.502260e+05,21425.82129,1.133411e+06,4.887864e+05,1.511039e+06,8.887434e+05,4.183230e+05,2.549556e+05,15053.222449,1.679844e+05,32066.376581,9.267585e+04,1.040983e+05,22007.760193,1.968508e+05,41583.366155,2.300476e+05,2.476683e+05,43623.798142,27135.127223,2.955756e+05,2.592177e+05,2.378084e+05,2.678459e+05,9.138715e+04,62473.808433,6559.154266,71950.687515,7469.743260,4133.959974,15711.796295,1.632040e+05,165430.739633,58222.431750,1.893696e+05,5750.390135,4077.811674,9389.554074,20229.849908,122861.499081,2.149159e+05,11155.238423,2.398746e+05,47189.375946,14620.810330,39327.980216,53561.971303,60815.239682,2.111068e+05,93965.513457,60198.084078,74655.674182,28575.003624,70630.721184,2.407367e+05,45188.123373,12923.636226,18023.106440,3784.134510,1757.640858,44511.728241,291.342790,753.391963,1038.854733,1720.535151,638.345281,362.684243,968.538748,424.108001,587.279450,1007.364839,1050.934537,4638.568719
min,1.000000,8.004000e+03,4.414000e+03,3.590000e+03,4.436000e+03,2.614000e+03,1.822000e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,3.555000e+03,2.228000e+03,1.327000e+03,2.525000e+03,1030.000000,4.449000e+03,0.000000e+00,0.000000e+00,68.000000,2.091000e+03,8.730000e+02,7.400000e+01,1.710000e+02,3.000000e+00,1.000000,0.000000,0.000000,13.000000,1.200000e+02,1.074000e+03,17.000000,133.000000,0.000000e+00,0.000000e+00,3.230000e+03,6.960000e+02,1.258000e+03,1.060000e+03,8.090000e+02,6.560000e+02,3.560000e+02,15.00000,4.926000e+03,2.185000e+03,7.111000e+03,5.113000e+03,2.088000e+03,7.860000e+02,16.000000,4.600000e+01,79.000000,3.860000e+02,1.720000e+02,55.000000,6.620000e+02,28.000000,6.850000e+02,8.160000e+02,70.000000,24.000000,1.824000e+03,9.470000e+02,1.200000e+03,1.308000e+03,2.650000e+02,48.000000,0.000000,43.000000,0.000000,0.000000,22.000000,9.200000e+01,46.000000,1.000000,0.000000e+00,0.000000,0.000000,2.000000,4.000000,452.000000,2.810000e+02,0.000000,1.185000e+03,0.000000,184.000000,260.000000,587.000000,257.000000,7.260000e+02,247.000000,222.000000,401.000000,87.000000,51.000000,9.820000e+02,114.000000,8.000000,8.000000,0.000000,0.000000,744.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000
25%,160.750000,8.178610e+05,4.171682e+05,4.017458e+05,4.825982e+05,2.764365e+05,2.008920e+05,8.320850e+04,4.230700e+04,4.267175e+04,7.312000e+03,3820.500000,3469.000000,3.284688e+05,2.294168e+05,9.420350e+04,2.318405e+05,80667.250000,4.744058e+05,7.491025e+04,5.284175e+04,8563.500000,1.033562e+05,5.670698e+05,2.623725e+04,1.951750e+03,2.537500e+02,163.750000,124.750000,63.000000,1006.750000,2.015200e+04,7.149625e+04,1406.750000,9637.250000,1.685155e+05,3.330575e+04,2.313620e+05,9.070025e+04,1.311078e+05,1.019878e+05,7.078575e+04,4.234700e+04,2.799200e+04,3850.75000,5.032555e+05,2.142040e+05,7.956865e+05,4.786540e+05,2.101965e+05,1.193285e+05,664.250000,5.764900e+04,3756.500000,2.529125e+04,1.928250e+04,3143.750000,7.383925e+04,2151.750000,4.483250e+04,8.321975e+04,3763.000000,6150.500000,1.478100e+05,5.480375e+04,4.613725e+04,1.481862e+05,6.096500e+03,12777.250000,67.750000,5256.250000,588.750000,261.000000,2452.250000,4.345500e+04,46313.250000,1819.750000,3.156675e+04,99.000000,304.500000,1041.000000,3778.250000,43873.000000,4.259650e+04,262.000000,2.584775e+04,2353.750000,5047.750000,13061.000000,18078.250000,18840.000000,8.341825e+04,32069.750000,31828.750000,41923.500000,6284.000000,21564.250000,1.131548e+05,22571.250000,3430.250000,3889.750000,449.750000,83.000000,18987.500000,146.000000,353.500000,236.750000,589.000000,59.000000,24.750000,95.000000,19.000000,21.000000,44.000000,18.000000,1024.250000
50%,320.500000,1.557367e+06,7.986815e+05,7.589200e+05,9.573465e+05,5.483525e+05,4.038590e+05,2.460160e+05,1.255485e+05,1.178550e+05,6.109500e+04,31178.000000,30642.000000,6.223410e+05,4.288515e+05,1.929265e+05,4.455135e+05,147250.000000,8.874705e+05,1.501250e+05,1.645300e+05,16586.500000,1.992565e+05,1.291930e+06,1.176915e+05,6.079500e+03,7.375000e+02,372.000000,741.000000,196.000000,2387.000000,4.724100e+04,1.615140e+05,3489.000000,19720.500000,3.002140e+05,7.689150e+04,4.140750e+05,1.872370e+05,2.572400e+05,1.963955e+05,1.523325e+05,8.998700e+04,6.624350e+04,9514.00000,1.017248e+06,4.529330e+05,1.518162e+06,8.896820e+05,3.905085e+05,2.421020e+05,1735.000000,1.256990e+05,8453.500000,5.000050e+04,5.159700e+04,8597.000000,1.525110e+05,5381.000000,1.034970e+05,1.747825e+05,9331.000000,13229.000000,2.703840e+05,1.596210e+05,1.084545e+05,2.790890e+05,1.431300e+04,42892.000000,215.500000,14490.000000,1644.000000,769.000000,5026.000000,1.197140e+05,167940.000000,12868.000000,1.092005e+05,442.500000,969.500000,2971.500000,7741.000000,110025.500000,1.117490e+05,770.000000,8.271250e+04,14452.000000,9830.000000,26962.500000,36878.500000,35334.000000,1.565090e+05,60818.500000,59843.000000,79535.500000,15154.500000,48794.000000,2.120930e+05,44609.500000,8356.000000,10080.000000,1320.000000,297.500000,32392.500000,318.500000,722.500000,518.000000,1220.500000,149.000000,118.500000,278.000000,84.000000,85.500000,186.500000,60.500000,2238.500000
75%,480.250000,2.583551e+06,1.338604e+06,1.264277e+06,1.602260e+06,9.188582e+05,6.641550e+05,4.477078e+05,2.284602e+05,2.140502e+05,2.195518e+05,111340.750000,108593.750000,1.036544e+06,6.991510e+05,3.163658e+05,7.448105e+05,258239.500000,1.569803e+06,2.553015e+05,3.258982e+05,35126.250000,3.858475e+05,2.116407e+06,3.515840e+05,2.750850e+04,2.800000e+03,1942.500000,4150.750000,1035.750000,5068.500000,1.266140e+05,3.391818e+05,8820.500000,38290.500000,4.622140e+05,1.857615e+05,7.019525e+05,3.040228e+05,4.442925e+05,3.414895e+05,2.629160e+05,1.583555e+05,1.299488e+05,19951.75000,1.718576e+06,7.833772e+05,2.556385e+06,1.491204e+06,6.525142e+05,4.045875e+05,5549.250000,2.381182e+05,18424.000000,8.977175e+04,1.043568e+05,18618.250000,2.789778e+05,15910.750000,2.328612e+05,3.251705e+05,23046.750000,25123.500000,4.462785e+05,2.843155e+05,2.124505e+05,4.608812e+05,3.932000e+04,95405.750000,728.250000,36771.750000,3839.250000,1951.750000,9909.250000,2.174202e+05,284883.500000,46999.000000,2.125115e+05,1587.250000,2674.000000,6376.750000,15766.250000,187586.000000,2.384382e+05,1951.250000,2.113978e+05,44929.250000,18086.000000,45870.250000,63017.500000,63404.000000,2.625472e+05,101034.250000,96482.000000,127930.000000,33886.000000,89075.500000,3.543165e+05,74147.750000,16382.500000,20622.500000,3293.000000,834.000000,55119.500000,533.500000,1281.500000,941.250000,2233.250000,296.500000,262.000000,564.500000,213.250000,293.000000,497.000000,215.500000,3959.000000
max,640.000000,1.106015e+07,5.865078e+06,5.195070e+06,8.227161e+06,4.591396e+06,3.635765e+06,2.464032e+06,1.266504e+06,1.197528e+06,1.580850e+06,793305.000000,787545.000000,4.492767e+06,3.363123e+06,1.239177e+06,3.930511e+06,998611.000000,6.567381e+06,1.013050e+06,1.227956e+06,466007.000000,3.944496e+06,8.716055e+06,4.707573e+06,1.248137e+06,1.863408e+06,668050.000000,343639.000000,945864.000000,62142.000000,1.788912e+06,2.330631e+06,430880.000000,790103.000000,1.568802e+06,3.078829e+06,3.618151e+06,1.280809e+06,1.874051e+06,2.094743e+06,2.018079e+06,1.196965e+06,1.733274e+06,198399.00000,8.886074e+06,3.031841e+06,1.019012e+07,6.184519e+06,3.241888e+06,1.921143e+06,135852.000000,1.279632e+06,414862.000000,1.008239e+06,1.053876e+06,211852.000000,1.609899e+06,560098.000000,2.042977e+06,2.180792e+06,449691.000000,263800.000000,2.375413e+06,2.330659e+06,2.254599e+06,1.918212e+06,1.394999e+06,289405.000000,67852.000000,865412.000000,69264.000000,43095.000000,271137.000000,1.363655e+06,916194.000000,508118.000000,1.419053e+06,88433.000000,39475.000000,114728.000000,221537.000000,793503.000000,1.826106e+06,158868.000000,1.964564e+06,437410.000000,106098.000000,314411.000000,420509.000000,542351.000000,1.589908e+06,711895.000000,442943.000000,451745.000000,180500.000000,747851.000000,1.769316e+06,280248.000000,84826.000000,121720.000000,29276.000000,16806.000000,371990.000000,1744.000000,4956.000000,10334.000000,13819.000000,10835.000000,3595.000000,14430.000000,5027.000000,7597.000000,12624.000000,18289.000000,60163.000000

In [18]:
## number of districts in each state/ut
print(df_india_census.groupby('State name').size())

State name
ANDAMAN AND NICOBAR ISLANDS     3
ANDHRA PRADESH                 23
ARUNACHAL PRADESH              16
ASSAM                          27
BIHAR                          38
CHANDIGARH                      1
CHHATTISGARH                   18
DADRA AND NAGAR HAVELI          1
DAMAN AND DIU                   2
GOA                             2
GUJARAT                        26
HARYANA                        21
HIMACHAL PRADESH               12
JAMMU AND KASHMIR              22
JHARKHAND                      24
KARNATAKA                      30
KERALA                         14
LAKSHADWEEP                     1
MADHYA PRADESH                 50
MAHARASHTRA                    35
MANIPUR                         9
MEGHALAYA                       7
MIZORAM                         8
NAGALAND                       11
NCT OF DELHI                    9
ORISSA                         30
PONDICHERRY                     4
PUNJAB                         20
RAJASTHAN                      33
SIKKIM                          4
TAMIL NADU                     32
TRIPURA                         4
UTTAR PRADESH                  71
UTTARAKHAND                    13
WEST BENGAL                    19
dtype: int64

## 1. How is literacy rate distributed across Indian States?

One important thing to note here is this:

Literacy is defined as the ability to read, write and use arithmetic, for people having age more than 7 years.

In our calculations, we have also counted children aged from 0-6 years in total population. The correct way to calculate it would be to subtract child population from total population and then compute the percentage.

Because there is no related column in our data which states no. of children(age 0-6), our results are slightly lesser than the actual literacy rates. But we are concerned about the pattern and not the exact value here as we are comparing among states.

In [19]:
df_india_census_states= df_india_census.groupby('State name')["Population","Male","Female","Literate","Male_Literate","Female_Literate"].sum().reset_index()

In [20]:
df_india_census_states

,State name,Population,Male,Female,Literate,Male_Literate,Female_Literate
0,ANDAMAN AND NICOBAR ISLANDS,380581,202871,177710,294281,164377,129904
1,ANDHRA PRADESH,84580777,42442146,42138631,50556760,28251243,22305517
2,ARUNACHAL PRADESH,1383727,713912,669815,766005,439868,326137
3,ASSAM,31205576,15939443,15266133,19177977,10568639,8609338
4,BIHAR,104099452,54278157,49821295,52504553,31608023,20896530
5,CHANDIGARH,1055450,580663,474787,805438,465346,340092
6,CHHATTISGARH,25545198,12832895,12712303,15379922,8807893,6572029
7,DADRA AND NAGAR HAVELI,343709,193760,149949,223230,142521,80709
8,DAMAN AND DIU,243247,150301,92946,188406,124643,63763
9,GOA,1458545,739140,719405,1165487,615823,549664
10,GUJARAT,60439692,31491260,28948432,41093358,23474873,17618485
11,HARYANA,25351462,13494734,11856728,16598988,9794067,6804921
12,HIMACHAL PRADESH,6864602,3481873,3382729,5039736,2752590,2287146
13,JAMMU AND KASHMIR,12541302,6640662,5900640,7067233,4264671,2802562
14,JHARKHAND,32988134,16930315,16057819,18328069,10882519,7445550
15,KARNATAKA,61095297,30966657,30128640,40647322,22508471,18138851
16,KERALA,33406061,16027412,17378649,28135824,13704903,14430921
17,LAKSHADWEEP,64473,33123,31350,52553,28023,24530
18,MADHYA PRADESH,72626809,37612306,35014503,42851169,25174328,17676841
19,MAHARASHTRA,112374333,58243056,54131277,81554290,45257584,36296706
20,MANIPUR,2855794,1438586,1417208,1908476,1039858,868618
21,MEGHALAYA,2966889,1491832,1475057,1785005,913879,871126
22,MIZORAM,1097206,555339,541867,848175,438529,409646
23,NAGALAND,1978502,1024649,953853,1342434,723957,618477
24,NCT OF DELHI,16787941,8987326,7800615,12737767,7194856,5542911
25,ORISSA,41974218,21212136,20762082,26742595,15089681,11652914
26,PONDICHERRY,1247953,612511,635442,957309,497378,459931
27,PUNJAB,27743338,14639465,13103873,18707137,10436056,8271081
28,RAJASTHAN,68548437,35550997,32997440,38275282,23688412,14586870
29,SIKKIM,610577,323070,287507,444952,251269,193683
30,TAMIL NADU,72147030,36137975,36009055,51837507,28040491,23797016
31,TRIPURA,3673917,1874376,1799541,2804783,1501369,1303414
32,UTTAR PRADESH,199812341,104480510,95331831,114397555,68234964,46162591
33,UTTARAKHAND,10086292,5137773,4948519,6880953,3863708,3017245
34,WEST BENGAL,91276115,46809027,44467088,61538281,33818810,27719471

In [21]:
df_india_census_states["Total_Literate_Percentage"]= round((df_india_census_states["Literate"]/df_india_census_states["Population"])*100,2)
df_india_census_states["Male_Literate_Percentage"]= round((df_india_census_states["Male_Literate"]/df_india_census_states["Male"])*100,2)
df_india_census_states["Female_Literate_Percentage"]= round((df_india_census_states["Female_Literate"]/df_india_census_states["Female"])*100,2)

In [23]:
df_india_census_states[["State name","Total_Literate_Percentage","Male_Literate_Percentage","Female_Literate_Percentage"]]

,State name,Total_Literate_Percentage,Male_Literate_Percentage,Female_Literate_Percentage
0,ANDAMAN AND NICOBAR ISLANDS,77.32,81.03,73.10
1,ANDHRA PRADESH,59.77,66.56,52.93
2,ARUNACHAL PRADESH,55.36,61.61,48.69
3,ASSAM,61.46,66.30,56.40
4,BIHAR,50.44,58.23,41.94
5,CHANDIGARH,76.31,80.14,71.63
6,CHHATTISGARH,60.21,68.64,51.70
7,DADRA AND NAGAR HAVELI,64.95,73.56,53.82
8,DAMAN AND DIU,77.45,82.93,68.60
9,GOA,79.91,83.32,76.41
10,GUJARAT,67.99,74.54,60.86
11,HARYANA,65.48,72.58,57.39
12,HIMACHAL PRADESH,73.42,79.05,67.61
13,JAMMU AND KASHMIR,56.35,64.22,47.50
14,JHARKHAND,55.56,64.28,46.37
15,KARNATAKA,66.53,72.69,60.20
16,KERALA,84.22,85.51,83.04
17,LAKSHADWEEP,81.51,84.60,78.25
18,MADHYA PRADESH,59.00,66.93,50.48
19,MAHARASHTRA,72.57,77.70,67.05
20,MANIPUR,66.83,72.28,61.29
21,MEGHALAYA,60.16,61.26,59.06
22,MIZORAM,77.30,78.97,75.60
23,NAGALAND,67.85,70.65,64.84
24,NCT OF DELHI,75.87,80.06,71.06
25,ORISSA,63.71,71.14,56.13
26,PONDICHERRY,76.71,81.20,72.38
27,PUNJAB,67.43,71.29,63.12
28,RAJASTHAN,55.84,66.63,44.21
29,SIKKIM,72.87,77.78,67.37
30,TAMIL NADU,71.85,77.59,66.09
31,TRIPURA,76.34,80.10,72.43
32,UTTAR PRADESH,57.25,65.31,48.42
33,UTTARAKHAND,68.22,75.20,60.97
34,WEST BENGAL,67.42,72.25,62.34